Source: com.github.efdos.mupen-gui
Section: x11
Priority: extra
Maintainer: Douglas Muratore <douglas.muratore@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.efdos.mupen-gui
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Hey young world
 This is a Hello World written in Vala using CMake build system.
