Source: com.github.efdos.mupen-gui
Section: x11
Priority: extra
Maintainer: Douglas Muratore <douglas.muratore@gmail.com>
Build-Depends: meson,
               debhelper (>= 9),
               gettext,
               libglib2.0-dev (>= 2.30.0),
               libgranite-dev,
               libgtk-3-dev,
               valac (>= 0.26),
Standards-Version: 3.9.3

Package: com.github.efdos.mupen-gui
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Mupen64Plus GUI for Elementary OS
 This tool makes it easy to play Nintendo64 games on Elementary OS through Mupen64Plus.
